<nav class="navbar navbar-light bg-light">
    <%= form_with(url: "/flights", method: "get", local: true) do %>
        <%= select(:flight, :departure, @airports) %>
        <%= select(:flight, :arrival, @airports) %>
        <%= submit_tag("Search") %>
    <% end %>
</nav>


